<div *ngIf="loading">
  <div class="page">
    <div class="loading" [ngbTooltip]="'Carregando'">
      <div class="loader" @fade>
        <div class="logo-wrapper">
          <img
            [alt]="'James Logo'"
            [width]="30"
            [height]="16"
            [src]="'../assets/img/james-logo.svg'">
        </div>
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container page">
  <div class="establishments">
    <app-list class="list" [items]="establishments"></app-list>
  </div>
</div>