<div *ngIf="loading">
  <div class="page">
    <div class="loading">
      <div class="loader">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container page">
  <form class="details bg-white" #detailsForm="ngForm" (ngSubmit)="save()">
    <!-- Header -->
    <div @fade class="details-header">
      <span [placement]="'top-left'" [ngbTooltip]="'Voltar a lista'">
        <img
        class="arrow"
        width="24"
        height="24"
        src="../../../assets/img/arrow-left.svg"
        (click)="backToList()">
      </span>

      <img
        class="picture"
        width="74"
        height="74"
        [alt]="establishment?.name + ' picture'"
        [title]="establishment?.name +' picture'"
        [src]="establishment?.picture">

      <div class="text-container">
        <div class="text-line d-inline d-sm-inline-flex">
          <h2 class="grey-2 bold fs-1 name">{{establishment?.name}}</h2>
        </div>
        <div class="text-line d-inline d-sm-inline-flex">
          <p>
            <span class="grey-4 regular fs-3 id">ID: {{establishment?.id}}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Basic -->
    <div @fade class="row ml-3 mr-3">
      <div class="col">
        <h3 class="grey-2 regular fs-1 mt-4 mb-3 name">Informações Básicas</h3>
        <hr>

        <!-- Name, City, Address -->
        <div class="row">
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Nome</h4>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select name="name" [(ngModel)]="establishment.name">
                <mat-option *ngFor="let name of storageService.names" [value]="name">
                  {{name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Cidade</h4>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select name="city" [(ngModel)]="establishment.address.city">
                <mat-option *ngFor="let city of storageService.cities" [value]="city">
                  {{city}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Endereço</h4>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput
                name="streetAddress"
                autocomplete="new-password"
                [(ngModel)]="establishment.address.formatted">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- Financial -->
    <div @fade class="row mt-1 ml-3 mr-3">
      <div class="col">
        <h2 class="grey-2 regular fs-1 mt-4 mb-3 name">Financeiro</h2>
        <hr>

        <!-- Bank, Account Type, CPF/CNPJ -->
        <div class="row">
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Banco</h4>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select name="bank" [(ngModel)]="establishment.bank">
                <mat-option *ngFor="let bank of storageService.banks" [value]="bank">
                  {{bank}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Tipo de conta</h4>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select name="accountType" [(ngModel)]="establishment.accountType">
                <mat-option *ngFor="let accountType of ['Conta corrente', 'Conta poupança']" [value]="accountType">
                  {{accountType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">CPF / CNPJ</h4>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput
                name="document"
                autocomplete="off"
                [(ngModel)]="establishment.document"
                (keydown)="establishment.document = validateDocument($event.target.value)"
                (keyup)="establishment.document = validateDocument($event.target.value)"
                (blur)="establishment.document = validateDocument($event.target.value)">
            </mat-form-field>
          </div>
        </div>

        <!-- Agency, Account, Automatic withdrawal -->
        <div class="row">
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Agência</h4>
            <mat-form-field appearance="outline" class="w-50">
              <input matInput
                name="agency"
                autocomplete="off"
                maxlength="4"
                [(ngModel)]="establishment.agency"
                (keydown)="establishment.agency = utils.AllowOnlyNumbers($event.target.value)"
                (keyup)="establishment.agency = utils.AllowOnlyNumbers($event.target.value)"
                (blur)="establishment.agency = utils.AllowOnlyNumbers($event.target.value)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-25 ml-3">
              <input matInput
                name="agencyDigit"
                autocomplete="off"
                maxlength="1"
                [(ngModel)]="establishment.agencyDigit"
                (keydown)="establishment.agencyDigit = utils.AllowOnlyNumbers($event.target.value)"
                (keyup)="establishment.agencyDigit = utils.AllowOnlyNumbers($event.target.value)"
                (blur)="establishment.agencyDigit = utils.AllowOnlyNumbers($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Conta</h4>
            <mat-form-field appearance="outline" class="w-50">
              <input matInput
                name="account"
                autocomplete="off"
                maxlength="5"
                [(ngModel)]="establishment.account"
                (keydown)="establishment.account = utils.AllowOnlyNumbers($event.target.value)"
                (keyup)="establishment.account = utils.AllowOnlyNumbers($event.target.value)"
                (blur)="establishment.account = utils.AllowOnlyNumbers($event.target.value)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-25 ml-3">
              <input matInput
                name="accountDigit"
                autocomplete="off"
                maxlength="1"
                [(ngModel)]="establishment.accountDigit"
                (keydown)="establishment.accountDigit = utils.AllowOnlyNumbers($event.target.value)"
                (keyup)="establishment.accountDigit = utils.AllowOnlyNumbers($event.target.value)"
                (blur)="establishment.accountDigit = utils.AllowOnlyNumbers($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 ease-out">
            <h4 class="grey-2 regular fs-3 mt-3 mb-3 name">Saque automático?</h4>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select name="automaticWithdrawal" [(ngModel)]="establishment.automaticWithdrawal">
                <mat-option *ngFor="let enabled of ['Sim', 'Não']" [value]="enabled">
                  {{enabled}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Save Button -->
        <div class="row pt-5 pb-1 mt-5 mb-4">
          <div class="col text-right">
            <button type="submit" class="d-inline-block btn" [ngbTooltip]="'Salvar informações localmente'">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>