<ng-container *ngIf="data">
  <div @fade
    class="card-content"
    title="Click to edit details"
    (click)="openDetails(data)">
    <img width="74" height="74" src="{{data?.picture}}">

    <div class="text-container">
      <div class="text-line">
        <span class="grey-2 bold fs-1 name">{{data?.name}}</span>
        <span class="grey-4 regular fs-3 id">{{data?.id}}</span>
      </div>
      <div class="text-line">
        <div class="grey-4 regular fs-2 state">{{data?.address.state}}</div>
        <div class="grey-9 regular fs-2 divisor">|</div>
        <div class="grey-4 regular fs-2 address">{{data?.address.street}}</div>
        <div *ngIf="data?.address?.neighbourhood" class="grey-4 regular fs-2 address">, {{data?.address?.neighbourhood}}</div>
        <div *ngIf="data?.address?.zipcode" class="grey-4 regular fs-2 zipcode"> - {{data?.address?.zipcode}}</div>
      </div>
    </div>
  </div>
</ng-container>
