<ng-container *ngIf="data">
  <article @fade
    class="card-content"
    title="Click to edit details"
    (click)="openDetails(data)">
    <img
      width="74"
      height="74"
      [alt]="data?.name + ' picture'"
      [title]="data?.name +' picture'"
      [src]="data?.picture">

    <div class="text-container">
      <div class="text-line d-inline d-sm-inline-flex">
        <h2 class="grey-2 bold fs-1 name">{{data?.name}}</h2>
        <h3 class="grey-4 regular fs-3 id">{{data?.id}}</h3>
      </div>
      <div class="text-line d-inline d-sm-inline-flex">
        <h4 class="grey-4 regular fs-2 city divisor-right">{{data?.address.city}}</h4>
        <p class="ml-2 ml-sm-0">
          <span class="grey-4 regular fs-2 address">{{data?.address.street}}</span>
          <span *ngIf="data?.address?.neighbourhood" class="grey-4 regular fs-2 address">, {{data?.address?.neighbourhood}}</span>
          <span *ngIf="data?.address?.zipcode" class="grey-4 regular fs-2 zipcode"> - {{data?.address?.zipcode}}</span>
        </p>
      </div>
    </div>
  </article>
</ng-container>
