/* JFont WebFont */
@font-face {
  font-family: 'JFont';
  font-weight: $light;
  src: url('./assets/sass/fonts/jfont/Rounded-Light.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: $regular;
  src: url('./assets/sass/fonts/jfont/Rounded-Regular.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: $medium;
  src: url('./assets/sass/fonts/jfont/Rounded-Medium.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: $bold;
  src: url('./assets/sass/fonts/jfont/Rounded-Bold.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: $extrabold;
  src: url('./assets/sass/fonts/jfont/Rounded-ExtraBold.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: $black;
  src: url('./assets/sass/fonts/jfont/Rounded-Black.ttf');
}
