/* JFont WebFont */
@font-face {
  font-family: 'JFont';
  font-weight: 100;
  src: url('./assets/sass/fonts/jfont/Rounded-Light.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 200;
  src: url('./assets/sass/fonts/jfont/Rounded-Regular.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 300;
  src: url('./assets/sass/fonts/jfont/Rounded-Medium.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 400;
  src: url('./assets/sass/fonts/jfont/Rounded-Bold.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 500;
  src: url('./assets/sass/fonts/jfont/Rounded-ExtraBold.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 600;
  src: url('./assets/sass/fonts/jfont/Rounded-Black.ttf');
}

@font-face {
  font-family: 'JFont';
  font-weight: 700;
  src: url('./assets/sass/fonts/jfont/Rounded-Regular.ttf');
}