// JFont WebFont
@font-face {
  font-family: "JFont";
  font-weight: 100;
  src: url("Rounded-Light.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 200;
  src: url("Rounded-Regular.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 300;
  src: url("Rounded-Medium.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 400;
  src: url("Rounded-Bold.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 500;
  src: url("Rounded-ExtraBold.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 600;
  src: url("Rounded-Black.ttf");
}

@font-face {
  font-family: "JFont";
  font-weight: 700;
  src: url("Rounded-Regular.ttf");
}