.card {
  @include border-radius(5px);
  @include transition(all 0.2s ease-out);
  min-width: 600px;
  min-height: 90px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px $grey-8;
  display: flex;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: transparentize($accent, 0.95);
    box-shadow: 0 3px 3px 0 transparentize($primary, 0.9);
    border: solid 1px $accent;
  }

  .card-content {
    display: flex;
    flex: 1;

    img {
      @include border-radius(3px);
      margin: 8px;
      display: inline-flex;
    }

    .text-container {
      padding: 8px;
      display: inline-flex;
      flex-direction: column;

      .text-line {
        width: 100%;
        display: flex;
        flex: 1;

        .name {
          margin-top: 10px;
          margin-left: 6px;
        }
        .id {
          margin-top: 14px;
          margin-left: 5px;
        }
        .state {
          margin-left: 6px;
        }
        .divisor {
          margin-left: 5px;
          margin-right: 5px;
        }
        .address:firstchild {
          margin-left: 6px;
        }
        .zipcode {
          margin-left: 6px;
        }
      }
    }
  }
}
