body {
  background-color: $background;

  * {
    @include box-sizing();
  }
}

.page {
  padding-left: 0px;
  padding-right: 0px;

  @include transition(all 0.5s ease-in-out);
}

.ease-out {
  @include transition(all 0.3s ease-out);
}